#calculator-container {
  border: 10px solid black;
  background-color: black;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: auto;
  width: 400px;
  height: 600px;
}

#display {
  flex: 1;
  background-color: lightslategray;
  margin: 10px;
}

#btns-container {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
  background-color: black;
}

.numbers-btns {
  height: 80px;
  width: 80px;
  margin: 15px;
}

#zero-btn {
  width: 190px;
}
